
.position{
    position: relative;
    top: 35%;
}

#small {
color: green;
}

#big {
color: green;
}

#Sign {
    color: green;
}
#sidebar {
    color: green;
}
#img {
    margin: 50px;
}

#heart {
    position: relative;
    left: 80px;
}

.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.jumbotron {
    width: 600px;
    text-align: center;
    background: limegreen;
    color: snow;
}

#sidebar {
    height: 100%;
    padding-top: 18%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#navBar {
    margin-bottom: 0px;
}

.ui.right.floated.button {
    margin-top: 15px;
}